{{> header }}

<!-- Content -->
<div class=" container-fluid text-center breadcrumb-about">
  <h1 class="submenu">About Us</h1>
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">About Us</li>
  </ul>

</div>
<div class="container ">
  <div class="zoa-about text-center ">
    <div class="about-banner ">
      <div class="hover-images"><img src="./statics/images/about/banner.png" class="img-responsive" alt=""></div>
    </div>
    <div class="content text-left row padding-top-30">
      <div class="col-md-2 col-lg-2  col-sm-2 logo-about">
        <a href="#"><img src="./statics/images/logo2.png" alt="" class="img-reponsive"></a>
      </div>
      <div class="text col-md-10 col-sm-10 col-lg-10 text-justify">
       <p>Since we started <b>/2018/</b> with the aim of creating a productive work to employ a number of workers and employees
       and in return create a high-quality product in all respects to be competitive in the global markets (European).</p>
         <p class="padding-bottom-20">To see a selection of our designs and products, which we have made it with <strong>love and passion</strong>, take a look at our <a href="/products" target="_blank">shop page</a> .</p>
           <p>We live in a world where many things are mass produced. Not that there is anything wrong with that. It’s great that some things are manufactured in massive quantities in order to fill a worldwide demand for them.
But it’s also wonderful to embrace things that are made by hand in small quantities.</p>
                 <p class="padding-bottom-20">It's nice to be able to buy an uniquely made product, that is why we are here putting infront of you our <b>Handmade</b> and <b>Ready-made</b> products .</p>
      </div>

    </div>
  </div>
</div>

<script>
  $(function () {

  });
</script>

{{> footer }}