{{> header }}

<!-- Content -->
<div class=" container-fluid text-center breadcrumb-about">
  <h1 class="submenu">About Us</h1>
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">About Us</li>
  </ul>

</div>
<div class="container ">
  <div class="zoa-about text-center ">
    <div class="about-banner ">
      <div class="hover-images"><img src="./statics/images/about/banner.png" class="img-responsive" alt=""></div>
    </div>
    <div class="content text-left row padding-top-30">
      <div class="col-md-2 col-lg-2  col-sm-2 logo-about">
        <a href="#"><img src="./statics/images/logo2.png" alt="" class="img-reponsive"></a>
      </div>
      <div class="text col-md-10 col-sm-10 col-lg-10 text-justify">
        <p class="padding-bottom-20">I’m a freelance fashion designer who specialises in print designs and combining
          fabrics. My designs have been sold all over Europe and the USA and I have worked with some of the biggest
          designers in the industry. I’m also currently working with a big supermarket to develop a gorgeous, yet
          affordable, range of beautifully printed key pieces that no women’s wardrobe should be without!</p>
        <p class="padding-bottom-20">To see a selection of my designs and sketches, which is how all my best designs
          start, take a look at my portfolio page. To see who I have worked with see my client list and stockists.
        </p>
        <p>I’m a freelance fashion designer who specialises in print designs and combining fabrics. My designs have
          been sold all over Europe and the USA and I have worked with some of the biggest designers in the
          industry. I’m also currently working with a big supermarket to develop a gorgeous, yet affordable, range
          of beautifully printed key pieces that no women’s wardrobe should be without!</p>
      </div>

    </div>
  </div>
</div>

<script>
  $(function () {

  });
</script>

{{> footer }}