{{> header }}

<!-- Content -->
<div class=" container-fluid text-center breadcrumb-about">
  <h1 class="submenu">Contact Us</h1>
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Contact Us</li>
  </ul>

</div>

<div class="container">
   <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 contact-item">
                        <div class="contact-img hover-images">
                            <a href="" class="">
                                <img src="./statics/images/contact_img.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
            <div class="feature-box padding-left-50 ">
        <div class="fbox-image">
        <img src="./statics/images/address.png" alt="add">
        </div>
              <div class="fbox-content">  
         <div class="fbox-body">                            
            <h2>ADDRESS</h2>                          
         </div>
         <p class="description"><span>Switzerland:</span> Contrada lsola 14, Macerate, 62100 Switzerland<br>
				  </p>               
               </div>      
        </div>
        <div class="feature-box padding-left-50 ">
        <div class="fbox-image">
        <img src="./statics/images/emai.png" alt="add">
        </div>
              <div class="fbox-content">  
         <div class="fbox-body">                            
            <h2>E-MAIL</h2>                          
         </div>
         <p class="description"><span>For any question:</span> Contact@piccolobeliero.com  <br>
<span class="second-email">Or Info@piccolobeliero.com</span> <br>
                                <span>For Product questions:</span> Sales@piccolobeliero.com<br></p>  
               </div>      
        </div>
       <!-- <div class="feature-box padding-left-50 ">
        <div class="fbox-image">
        <img src="./statics/images/phone.png" alt="add">
        </div>
              <div class="fbox-content">  
         <div class="fbox-body">                            
            <h2>PHONE</h2>                          
         </div>
         <p class="description"><span>France:</span> +33 1025 1354 11<br>
                                <span>Filand:</span> +22 1025 1354 11<br>
                                <span>Viet Nam:</span> +1 4 9981 2532<br></p>  
               </div>      
        </div>-->

                    </div>
                </div>
  <div class="contact-bottom">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 about-element">
        <form method="post" class="form-customer form-login">
          <div class="form-group col-md-6 col-sm-6 col-xs-12 from-contact left">
            <p>First Name</p>
            <input type="text" id="user-name" class="form-control form-account">
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12 from-contact right">
            <p>E-mail</p>
            <input type="email" id="user-email" class="form-control form-account">
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12 from-contact left">
            <p>Phone Number</p>
            <input type="text" id="user-phone" class="form-control form-account">
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12 from-contact right">
            <p>Subject</p>
            <input type="text" id="user-subject" class="form-control form-account">
          </div>
          <div class="form-group">
            <p>Your Messenge</p>
            <textarea rows="7" name="note" id="user-message" class="form-control form-account"></textarea>
          </div>
          <div class="btn-button-group mg-top-30 mg-bottom-15">
            <button type="submit" class="zoa-btn btn-login hover-white">SEND MESSENGE</button>
          </div>
        </form>
        <p id="succes-message" class="hidden">Your message have been send successfuly. Thank You.</p>
        <p id="failure-message" class="hidden" style="color: red">An error has been occured. Try again.</p>
      </div>
      <div class="col-md-6 maps1">
        <div id="googleMap"></div>

      </div>
    </div>
  </div>
</div>

<script>
$(function () {

  function hideResponseMessage() {
    setTimeout(function() {
      $('#succes-message').addClass('hidden');
      $('#failure-message').addClass('hidden');
    }, 10000);
  }

  $('.form-customer').submit(function( event ) {
    event.preventDefault();

    $.ajax({
      type: 'POST',
      url: `/productUserDemand`,
      contentType: "application/json",
      data: JSON.stringify({
        name: $('#user-name').val(),
        email: $('#user-email').val(),
        phone: $('#user-phone').val(),
        subject: $('#user-subject').val(),
        message: $('#user-message').val()
      }),
      success: function () {
        $('#user-name').val('');
        $('#user-email').val('');
        $('#user-phone').val('');
        $('#user-subject').val('');
        $('#user-message').val('');

        $('#succes-message').removeClass('hidden');
        hideResponseMessage();

        parent.location.hash = '';
      },
      error: function() {
        $('#failure-message').removeClass('hidden');
        hideResponseMessage();
      }
    });
    
  });
});
</script>

{{> footer }}