{{> header }}

<!-- content -->
<div class="slide v2 container container-content">

	<div class="js-slider-v3">
		<div class="slide-img v1">
			<img src="./statics/images/bg-slide-home1.png" alt="" class="img-responsive">
			<div class="box-center">
				<div class="img">
					<img src="./statics/images/slide-home.png" alt="" class="img-responsive">
				</div>
				<div class="text">
					<img src="./statics/images/text-home1.png" alt="" class="img-responsive">
					<p class="sliderp">Every season has a whole collection to reflect th spirit of it so you can feel it not just
						dress it </p>
					<a href="" class="zoa-btn btn-viewthislook hidden-xs">VIEW THIS LOOK</a>
				</div>
			</div>
		</div>
		<div class="slide-img v1">
			<img src="./statics/images/bg-slide-home1.png" alt="" class="img-responsive">
			<div class="box-center">
				<div class="img">
					<img src="./statics/images/slide-home-two.png" alt="" class="img-responsive">
				</div>
				<div class="text">
					<img src="./statics/images/text-home2.png" alt="" class="img-responsive">
					<p>Fashion is a distinctive and often constant trend in the style in which people present themselves</p>
					<a href="" class="zoa-btn btn-viewthislook hidden-xs">VIEW THIS LOOK</a>

				</div>
			</div>
		</div>
		<div class="slide-img v1">
			<img src="./statics/images/bg-slide-home1.png" alt="" class="img-responsive">
			<div class="box-center">
				<div class="img">
					<img src="./statics/images/slide-home-three.png" alt="" class="img-responsive">
				</div>
				<div class="text">
					<img src="./statics/images/text-home3.png" alt="" class="img-responsive">
					<p class="sliderp">Be sure what you want and be sure about yourself. Fashion is not just beauty, it's about
						good attitude. You have to believe in yourself and be strong.</p>
					<a href="" class="zoa-btn btn-viewthislook hidden-xs">VIEW THIS LOOK</a>
				</div>
			</div>
		</div>
	</div>
	<div class="custom">
		<div class="pagingInfo"></div>
	</div>
</div>
<!-- End content -->
<div class="zoa-collection-2 pad">
	<div class="container container-content v1">
		<div class="row cate">

			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="row second">
					<div class="col-xs-12 col-sm-6 col-md-12">
						<div class="collection-img">
							<a href="" class="hover-images">
								<img src="./statics/images/home1/cate-1.png" alt="" class="img-responsive">
							</a>
							<div class="content text-left ">
								<h3>High QUALITY</h3>
							</div>
						</div>

					</div>
					<div class="col-xs-12 col-sm-6 col-md-12 text-right second-collection-mob">
						<div class="collection-img">
							<a href="" class="hover-images">
								<img src="./statics/images/home1/cate-2.png" alt="" class="img-responsive">
							</a>
							<div class="content text-left">
								<h3>Effective TOUCH</h3>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 text-right second-image">
				<div class="collection-img">
					<a href="" class="hover-images">
						<img src="./statics/images/home1/cate-3.png" alt="" class="img-responsive">
					</a>
					<div class="content text-left  ">
						<h3>Age SUITABLE</h3>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
<div class="this-look padding-top-30">
	<div class="container  text-center">

		<div class="row">
			<div class="look-img hover-images ">
				<img src="./statics/images/home1/look.png" alt="" class="img-responsive">

			</div>
		</div>

	</div>
</div>

<div class="clients">
	<div class="container">
		<div class="row">
			<div class="about-brand pad ">

				<div class="row">
					<div class="col-md-12">
						<a><img src="./statics/images/home1/clients-6.png" class="img-responsive margin-auto hiero" alt="image"></a>
						<p class="hiero-translate">MADE IN SYRIA</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{> footer }}