{{> header }}
<!-- Content -->
<div class=" container-fluid text-center breadcrumb-about">
  <h1 class="submenu">Wishlist Items</h1>
  <ul class="breadcrumb">
    <li><a href="/products">Shop</a></li>
    <li class="active">Wishlist-items</li>
  </ul>

</div>
<div class="container container-content">
  <div class="text-center">
    <div class="content text-center row padding-top-30">
      <h3 class="padding-bottom-20"> Favorite Products</h3>
      <div class="text text-left">
        <p class="text-center">This is the selection of items you like most</p>
        <div class="wishlist-text"></div>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12 collection-list wishlist-items">
      <div class="product-collection-grid product-grid ">
        <div class="row">

          <div class="col-12">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 product-item">

              <div class="product-img">

                <a href="product-details.html" target="_blank"><img src="img/product/product_4_first.jpg" alt=""
                    class="img-responsive wp-post-image">
                  <img src="img/product/product_4_second.jpg" alt="" class="img-responsive image-effect">
                </a>

                <div class="product-button-group ">
                  <!-- <div class="shop-now">
                                    <a href="#">SHOP NOW </a>
                                </div>-->
                  <div class="quick-view">
                    <a href="product-details.html" target="_blank">View </a>
                  </div>
                </div>
              </div>
              <div class="product-info ">
                <div class="title-heart">
                  <h3 class="product-title">
                    <a href="product-details.html" target="_blank">Nice Gril Skirt</a>
                  </h3>
                  <a href="" title="remove item"> <span class="fa fa-heart"></span></a>
                </div>


                <div class="product-price">
                  <span>$124.35</span>
                </div>

                <div class="color-group">
                  <a href="#" class="circle gray"></a>
                  <a href="#" class="circle black active"></a>
                </div>
                <div class="product-bottom-group">
                  <!--<a href="#" class="zoa-btn zoa-addcart">
                                    <span class="zoa-icon-cart"></span> ADD TO CART
                                </a>-->
                  <a href="product-details.html" target="_blank" class="zoa-btn zoa-quickview" title="view">
                    <span class="zoa-icon-quick-view"></span>
                  </a>
                  <a href="#" class="zoa-btn zoa-wishlist" title="wishlist">
                    <span class="fa fa-heart"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 product-item">
              <div class="product-img">
                <a href="product-details.html" target="_blank"><img src="img/product/product_1_first.jpg" alt=""
                    class="img-responsive wp-post-image">
                  <img src="img/product/product_1_second.jpg" alt="" class="img-responsive image-effect"></a>
                <div class="product-button-group ">
                  <!-- <div class="shop-now">
                                    <a href="#">SHOP NOW </a>
                                </div>-->
                  <div class="quick-view">
                    <a href="product-details.html" target="_blank">View </a>
                  </div>
                </div>
              </div>
              <div class="product-info ">
                <div class="title-heart">
                  <h3 class="product-title">
                    <a href="product-details.html" target="_blank">Classy Dress</a>
                  </h3>
                  <a class="piccolo-wishlist" href="" title="remove item"> <span class="fa fa-heart"></span></a>


                </div>


                <div class="product-price">
                  <span>$124.35</span>
                </div>
                <div class="color-group">
                  <a href="#" class="circle gray"></a>
                  <a href="#" class="circle black active"></a>
                </div>
                <div class="product-bottom-group">
                  <!--<a href="#" class="zoa-btn zoa-addcart">
                                    <span class="zoa-icon-cart"></span> ADD TO CART
                                </a>-->
                  <a href="product-details.html" target="_blank" class="zoa-btn zoa-quickview" title="view">
                    <span class="zoa-icon-quick-view"></span>
                  </a>
                  <a href="#" class="zoa-btn zoa-wishlist" title="wishlist">
                    <span class="fa fa-heart"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 product-item">
              <div class="product-img">
                <a href="product-details.html" target="_blank"><img src="img/product/product_7_first.jpg" alt=""
                    class="img-responsive wp-post-image">
                  <img src="img/product/product_7_second.jpg" alt="" class="img-responsive image-effect"></a>
                <div class="product-button-group ">
                  <!-- <div class="shop-now">
                                    <a href="#">SHOP NOW </a>
                                </div>-->
                  <div class="quick-view">
                    <a href="product-details.html" target="_blank">View </a>
                  </div>
                </div>
              </div>
              <div class="product-info ">
                <div class="title-heart">
                  <h3 class="product-title">
                    <a href="product-details.html" target="_blank">Jeans Shirt</a>
                  </h3>
                  <a href="" title="remove item"> <span class="fa fa-heart"></span></a>
                </div>


                <div class="product-price">
                  <span>$124.35</span>
                </div>
                <div class="color-group">
                  <a href="#" class="circle navy-blue active"></a>
                </div>
                <div class="product-bottom-group">
                  <!--<a href="#" class="zoa-btn zoa-addcart">
                                    <span class="zoa-icon-cart"></span> ADD TO CART
                                </a>-->
                  <a href="product-details.html" target="_blank" class="zoa-btn zoa-quickview" title="view">
                    <span class="zoa-icon-quick-view"></span>
                  </a>
                  <a href="#" class="zoa-btn zoa-wishlist" title="wishlist">
                    <span class="fa fa-heart"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 product-item">
              <div class="product-img">
                <a href="product-details.html" target="_blank"><img src="img/product/product_9_first.jpg" alt=""
                    class="img-responsive wp-post-image">
                  <img src="img/product/product_9_second.jpg" alt="" class="img-responsive image-effect"></a>
                <div class="product-button-group ">
                  <!-- <div class="shop-now">
                                    <a href="#">SHOP NOW </a>
                                </div>-->
                  <div class="quick-view">
                    <a href="product-details.html" target="_blank">View </a>
                  </div>
                </div>
              </div>
              <div class="product-info ">
                <div class="title-heart">
                  <h3 class="product-title">
                    <a href="product-details.html" target="_blank">Zipper trouser - kids</a>
                  </h3>
                  <a href="" title="remove item"> <span class="fa fa-heart"></span></a>
                </div>


                <div class="product-price">
                  <span>$124.35</span>
                </div>
                <div class="color-group">
                  <a href="#" class="circle gray"></a>
                  <a href="#" class="circle black active"></a>
                </div>
                <div class="product-bottom-group">
                  <!--<a href="#" class="zoa-btn zoa-addcart">
                                    <span class="zoa-icon-cart"></span> ADD TO CART
                                </a>-->
                  <a href="product-details.html" target="_blank" class="zoa-btn zoa-quickview" title="view">
                    <span class="zoa-icon-quick-view"></span>
                  </a>
                  <a href="#" class="zoa-btn zoa-wishlist" title="wishlist">
                    <span class="fa fa-heart"></span>
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

    {{!-- <div class="col-md-3 col-sm-12 col-xs-12 sticky-wishlist-login">
      <div class="wishlist-login">
        <img src="img/devices.png" />
        <h5>Your Wishlist when and wherever you want</h5>
        <p>Don't lose your Wishlist items!
          Log in to save them on all your devices.</p>

        <button class="zoa-btn btn-wishlist-empty hover-white js-user">LOGIN</button>


      </div>
    </div> --}}

  </div>




</div>

<script>
  $(function () {


  });
</script>

{{> footer }}