<!-- Footer -->
<footer class="footer padding-bottom-50 padding-top-50">

	<div class="menu-footer">
		<div class="container">
			<div class="col-md-8 col-sm-7 menu">
				<ul>
					<li><a class="border" href="/">Home</a></li>
					<li><a class="border" href="/about">About Us</a></li>
					<li><a class="border" href="/products">Shop</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>

			<div class="col-md-4 col-sm-5 social text-right">
				<ul>
					<li class="face">
						<a class="facebook" href="" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
					</li>

					<li class="inst">
						<a class="instagram-social" href="" target="_blank">
							<i class="fa fa-instagram"></i>
						</a>
					</li>

					<li class="yout">
						<a href="" target="_blank">
							<i class="fa fa-youtube-play"></i>
						</a>
					</li>

					<li class="twit">
						<a class="twitter" href="" target="_blank">
							<i class="fa fa-twitter"></i>
						</a>
					</li>

					<li class="tumb">
						<a class="tumblr-social" href="" target="_blank">
							<i class="fa fa-tumblr"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container ">
		<div class="subs-footer">
			<div class="form-newsletter">
				<div class="input-group newsletter-group">
					<span class="wpcf7-form-control-wrap email-632"><input type="email" name="email-632" value="" size="40"
							class=" newsletter-input form-control" aria-required="true" aria-invalid="false"
							placeholder="Enter your e-mail"></span>
					<p></p>
					<div class="input-group-btn text-center padding-top-20"><input type="submit" value="SUBSCRIBE"
							class="wpcf7-form-control wpcf7-submit btn btn-default"><span class="ajax-loader"></span><span
							class="arrow-btn"></span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="f-content">
			<div class="f-col align-items-center">
				<p>© <a href="">Piccoloveliero</a> 2019. Designed with <i class="fa fa-heart"></i> by Jemnou. </p>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->

</div>
<a href="#" class="zoa-btn scroll_top"><i class="ion-ios-arrow-up"></i></a>
</body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnMr64OtHBrpxBLLbYX2K2Waf4enq8sp0&amp;=myMap"></script>

</html>