<!-- Footer -->
<footer class="footer padding-bottom-50 ">

	<div class="menu-footer">
		<div class="container">
			<div class="col-md-8 col-sm-7 menu">
				<ul>
					<li><a class="border" href="index.html">Home</a></li>
					<li><a class="border" href="">About Us</a></li>
					<li><a class="border" href="products.html">Shop</a></li>
					<!--<li  ><a class="border" href="">Collections</a></li>
                    <li  ><a class="border" href="">Accessories</a></li>-->
					<li><a href="contact.html">Contact</a></li>

				</ul>
			</div>

			<div class="col-md-4 col-sm-5 social text-right">
				<ul>
					<li class="face">
						<a class="facebook" href="" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
					</li>

					<li class="inst">
						<a class="instagram-social" href="" target="_blank">
							<i class="fa fa-instagram"></i>
						</a>
					</li>

					<li class="yout">
						<a href="" target="_blank">
							<i class="fa fa-youtube-play"></i>
						</a>
					</li>

					<li class="twit">
						<a class="twitter" href="" target="_blank">
							<i class="fa fa-twitter"></i>
						</a>
					</li>

					<li class="tumb">
						<a class="tumblr-social" href="" target="_blank">
							<i class="fa fa-tumblr"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container ">
		<div class="subs-footer">
			<div class="form-newsletter">
				<div class="input-group newsletter-group">
					<span class="wpcf7-form-control-wrap email-632"><input type="email" name="email-632" value="" size="40"
							class=" newsletter-input form-control" aria-required="true" aria-invalid="false"
							placeholder="Enter your e-mail"></span>
					<p></p>
					<div class="input-group-btn text-center padding-top-20"><input type="submit" value="SUBSCRIBE"
							class="wpcf7-form-control wpcf7-submit btn btn-default"><span class="ajax-loader"></span><span
							class="arrow-btn"></span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="f-content">
			<div class="f-col align-items-center">
				<p>© <a href="">Piccoloveliero</a> 2019. Designed with <i class="fa fa-heart"></i> by Jemnou. </p>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->

</div>
<a href="#" class="zoa-btn scroll_top"><i class="ion-ios-arrow-up"></i></a>
<script src="../statics/scripts/jquery.js"></script>
<script src="../statics/scripts/bootstrap.min.js"></script>
<script src="../statics/scripts/owl.carousel.min.js"></script>
<script src="../statics/scripts/slick.min.js"></script>
<script src="../statics/scripts/countdown.js"></script>
<script src="../statics/scripts/jquery-ui_c2b0c2990b0899f3e3e3d0791bf33206.js"></script>
<script src="../statics/scripts/main.js"></script>
</body>

</html>